@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

body {
	background: #222222;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;

}

.subscribe {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #E6E6E6;
	width: 945px;
	height: 474px;
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(191, 191, 191, 0.1);
}


.subscribe__title {
	font-weight: bold;
	font-size: 26px;
	margin-bottom: 18px;
}

.subscribe__copy {
	max-width: 450px;
	text-align: center;
	margin-bottom: 53px;
	line-height: 1.5;
}

.form {
	margin-bottom: 25px;
}

.form__email {
	padding: 20px 25px;
	border-radius: 5px;
 	border: 1px solid #CAD3DB;
	width: 431px;
	font-size: 18px;
	color: #0F121F;
}

.form__email:focus {
	outline: 1px solid rgba(51, 51, 51, 0.7);
}

.form__button {
	background: #333333;
	padding: 10px;
	border: none;
	width: 244px;
	height: 65px;
	border-radius: 5px;
	font-size: 18px;
	color: white;
	box-shadow: 0 4px 20px rgba(191, 191, 191, 0.1);
	cursor: pointer;
}

.form__button:hover {
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.3);
}

.form__button:active{
	transform: scale(0.95);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.5);
}
.notice {
	width: 345px;
}
